body {
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px gray;
    top: 0;
}

nav ul {
    list-style: none; /* Ça permet d'enlever les bullet points un peu moche dans la barre du haut */
    display: flex;
    justify-content: center; /* Pour centrer la liste dans la barre du haut */
    padding: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}

.section {
    padding: 60px 30px;
    background-color: #ffffff;
    margin: 16px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px gray;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #007BFF;
}

.grille-competences, .grille-projets, .grille-hobbies {
    display: grid;
    gap: 20px;
}

.carte-competences, .carte-projets, .carte-hobbies {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.carte-competences:hover, .carte-projets:hover, .carte-hobbies:hover {
    box-shadow: 0 6px 12px gray;
}

.carte-competences img, .carte-projets img, .carte-hobbies img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
	border-radius: 0px;
	/* J'ai des images rondes donc j'ai pas besoin de border-radius ici je pense */
}


.profil {
    text-align: center;
    margin-bottom: 30px;
}

.profil img {
    width: 150px;
    height: 150px;
	border-radius: 100px;
    object-fit: cover;
    margin-bottom: 15px;
	border: 1px solid;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    box-shadow: 0 -2px 4px gray;
}

footer p {
    font-size: 15px;
    color: #777;
}